<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Health Main Page</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:replace="~{/fragments/nav :: nav}"></div>

<div class="container mt-4">
  <div class="row g-3">
    <div class="col">
      <div class="p-3 border rounded shadow-sm" style="min-height : 500px;">
        <a th:href="@{/question/list}">헬스 게시판</a>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border rounded shadow-sm" style="min-height : 500px;">
        <a th:href="@{/question/list}">식단 게시판</a>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border rounded shadow-sm" style="min-height : 500px;">
        <a th:href="@{/question/list}">눈바디 게시판</a>
      </div>
    </div>
  </div>

  <div class="row g-3">
    <div class="col">
      <div class="p-3 border rounded shadow-sm mt-3 mb-3" style="min-height : 500px;">
        <a th:href="@{/question/list}">자유 게시판</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
